body {
    counter-reset: li; /* initialize counter named li */
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin-top: 24px;
}

ol {
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:10px 80px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #317EAC;
    background:rgba(49, 126, 172, 0.1);
}
ol > li:before {
    content:"Activity " counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:6em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #317EAC;
    color:#fff;
    background:#317EAC;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.oyo ul {
    list-style-type:decimal;
}

hr {
    border: 1px solid #357FAA;
}


/* Enable text wrapping in TOC */
.book .book-summary ul.summary li a {
  white-space: normal;
  line-height: 1.3;
  padding-top: 8px;
  padding-bottom: 8px;
}

div#boxedtext {
    background-color: rgba(86, 155, 189, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
}

div#template {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #808080;
    border:1px solid #808080;
    padding: 10px 10px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

div#license {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4C721D;
    border:1px solid #4C721D;
    padding: 10px 10px;
    background-color: rgba(76, 114, 29, 0.2);
    border-radius: 5px;
}

.summary {
  background-color:  #eaf2f8 !important;
}

.note, .advanced, .flag, .takeAway {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  border-left: 8px;
  border-left-style: solid;
}

.note {
  border-color: #0d4a7b;
  background-color: #f0f7fd;
}

.note::before {
  content: "Note";
  font-weight: bold;
  color: #0d4a7b;
}

.advanced {
  border-color: #1f7b0d;
  background-color: #f1fdf0;
}

.advanced::before {
  content: "Optional Deeper Dive";
  font-weight: bold;
  color: #1f7b0d;
}

.takeAway {
  border-color: #cccc00;
  background-color: #ffffe6;
}

.takeAway::before {
  content: "Highlight";
  font-weight: bold;
  color: #cccc00;
}

.flag {
  border-color: #cc0000;
  background-color: #ffe6e6;
}

.flag::before {
  content: "Whoa!";
  font-weight: bold;
  color: #cc0000;
}

.caption {
  text-align: center;
}

blockquote {
  color: #002145;
}

strong {
  color: #002145;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}